.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #414141;
}
.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5rem;
}
h1 {
    color: #fff;
}
.iniciarDiv {
    margin-bottom: 5rem;
}
.iniciarButton {
    padding: 1rem;
    width: 10rem;
    border: none;
    border-radius: 5px;
    font-weight: 700;
    background-color: rgb(255, 222, 176);
    transition: ease-in-out .25s;
}
.iniciarButton:hover {
    cursor: pointer;
    background-color: rgb(255, 197, 115);
}